---
title: 酒肉大观美式BBQ - 世界领先的智能温控碳烤炉
heading: 找到最适合你的烤肉设备
description: 烧烤大师不再遥不可及.
pricing_table:
  - name: 15寸陶瓷炉
    features:
      - image: /images/jskamado-15.jpg
    call_to_action:
        price: 1900
        qr: /images/kmd15-qr-code.png
  - name: 22寸陶瓷炉
    features:
    - image: /images/jskamado-22.jpg
    call_to_action:
        price: 2400
        qr: /images/kmd22-qr-code.png
  - name: 24寸陶瓷炉
    features:
    - image: /images/jskamado-24.jpg
    call_to_action:
        price: 2900
        qr: /images/kmd24-qr-code.png
faq:
  - question: 我怎么购买?
    answer: 点击查看价格后扫去弹出的二维码即可跳转到商城购买.
  - question: 我怎么使用陶瓷烤炉?
    answer: 请关注我们的教学视频及相关文章.
  - question: 这个炉子都能干什么?
    answer: 从中式烤串到美式焖烤，从鸡腿到牛排，它无所不能.
  - question: 其他问题?
    answer:  欢迎给我们<a href="/contact/">留言</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}<img src="{{feature.image}}" alt="" /></li>
			{% endfor %}

      {% if plan.call_to_action %}
        <li class="pricing-cta"><p>￥{{plan.call_to_action.price}} 微信扫码购买</p></li>
        <li class="pricing-cta"><img src="{{plan.call_to_action.qr}}" width="50%"></li>
			{% endif %}
    </ul>
	{% endfor %}
</div>

</div>

{% if page.faq %}
	<h2>常见问题</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}