---
title: 酒肉大观美式BBQ - 世界领先的智能温控碳烤炉
heading: 找到最适合你的烤肉设备
description: 烧烤大师不再遥不可及.
pricing_table:
  - name: 13寸陶瓷炉
    features:
      - image: /images/jskamado-12.jpg
    call_to_action:
        price: 1400
    id: kmd13
    qr: /images/kmd13-qr-code.png
  - name: 15寸陶瓷炉
    features:
      - image: /images/jskamado-15.jpg
    call_to_action:
        price: 1900
    id: kmd15
    qr: /images/kmd15-qr-code.png
  - name: 22寸陶瓷炉
    features:
    - image: /images/jskamado-22.jpg
    call_to_action:
        price: 2400
    id: kmd22
    qr: /images/kmd22-qr-code.png  
  - name: 24寸陶瓷炉
    features:
    - image: /images/jskamado-24.jpg
    call_to_action:
        price: 2900
    id: kmd24
    qr: /images/kmd24-qr-code.png    
    

faq:
  - question: 我怎么购买?
    answer: 点击查看价格后扫去弹出的二维码即可跳转到商城购买.
  - question: 我怎么使用陶瓷烤炉?
    answer: 请关注我们的教学视频及相关文章.
  - question: 这个炉子都能干什么?
    answer: 从中式烤串到美式焖烤，从鸡腿到牛排，它无所不能.
  - question: 其他问题?
    answer:  欢迎给我们<a href="/contact/">留言</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}><img src="{{feature.image}}" alt="" /></li>
			{% endfor %}

      {% if plan.call_to_action %}
        <li class="pricing-cta"><p>￥{{plan.call_to_action.price}}</p></li>
        <li class="button alt"><a id="{{plan.id}}" onclick="showprice('{{plan.qr}}')">微信扫码购买</a>
        </li>
      {% endif %}
    </ul>
	{% endfor %}
</div>

<!-- The Modal -->
<div id="priceview" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="hide()">&times;</span>
      <div>
        <img id="priceqr" src="{{plan.qr}}"/>
        <p class="nononono" id="inwechat"></p>
      </div>
    </div>
  </div>

<script>
  function showprice(qrurl){
    var isWeixinBrowser = (/micromessenger/i).test(navigator.userAgent);
    if(isWeixinBrowser){
      var p = document.getElementById("inwechat");
      p.innerHTML = "请长按二维码自动识别"
    }

    var img = document.getElementById("priceqr");
    img.src = qrurl;//'/images/' + id + '-qr-code.png';
    // /images/kmd24-qr-code.png
    // Get the modal
    var modal = document.getElementById("priceview");
    modal.style.display = "block";
  }
  // Get the button that opens the modal
  // var btn = document.getElementById("{{plan.id}}");
  
  // Get the <span> element that closes the modal
  // var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  // btn.addEventListener("click",function(event){modal.style.display = "block";}) ;  
  // When the user clicks on <span> (x), close the modal
  // span.addEventListener("click",function(event){modal.style.display = "none";}) ; 
  function hide(){
    var modal = document.getElementById("priceview");
    modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    var modal = document.getElementById("priceview");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>


{% if page.faq %}
	<h2>常见问题</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}