---
title: 慢烤大师美式BBQ - 世界领先的智能温控碳烤炉 - 大观炉
heading: 找到最适合你的烤肉设备
description: 把美味绝伦的美式BBQ带回家.
pricing_table_l1:
  - name: 12寸陶瓷大观炉 Ceramic Kamado
    description: |+
      品牌 慢烤大师
      型号 BBQ-KMD-12 
      温控 TempMaster Portable BLE
      材料 高温陶瓷
      颜色 亮釉红色，亮釉黑色 
      尺寸 12.2”x15.4”/31x39cm 
      烹饪面积  85 Sq in/547.4 cm²
      烤盘直径 φ10.43”/26.5cm 
      重量 19KG 
      包装尺寸 46x38x47cm 
      适用人数 1-4人

    features:
      - image: /images/jskamado-12.jpg
    call_to_action:
        price: 1600
    id: kmd13
    qr: /images/kmd13-qr-code.png
  - name: 15寸陶瓷大观炉 Ceramic Kamado
    description: |+
      品牌 慢烤大师
      型号 BBQ-KMD-15
      温控 TempMaster Portable BLE
      材料 高温陶瓷
      颜色 亮釉红色，亮釉黑色
      尺寸 15"*22"/38*56CM 
      烹饪面积  133 Sq in / 858cm²
      烤盘直径 φ13”/ 33cm 
      重量 36KG 
      包装尺寸 50x45x57cm 
      适用人数 2-6人

    features:
      - image: /images/jskamado-15.jpg
    call_to_action:
        price: 2200
    id: kmd15
    qr: /images/kmd15-qr-code.png
  - name: 22寸陶瓷大观炉 Ceramic Kamado
    description: |+
      品牌 慢烤大师
      型号 BBQ-KMD-22
      温控 TempMaster Portable BLE
      材料 高温陶瓷
      颜色 亮釉红色，亮釉黑色
      尺寸	22.4"*27.4"/57*69.5CM
      烹饪面积 	697 Sq in /1771 cm² 
      （双层烤网）
      烤盘直径 φ18.7”/ 47.5cm
      重量	105KG
      包装尺寸	72x65x103cm
      适用人数	4-10人
    features:
    - image: /images/jskamado-22.jpg
    call_to_action:
        price: 3900
    id: kmd22
    qr: /images/kmd22-qr-code.png  
   
pricing_table_l2:
  - name: 24寸陶瓷大观炉 Ceramic Kamado
    description: |+
      品牌 慢烤大师
      型号 BBQ-KMD-24
      温控 TempMaster Portable BLE
      材料 高温陶瓷
      颜色 亮釉红色，亮釉黑色
      尺寸	24"*27.56"/61*70CM
      烹饪面积 	804 Sq in /2042cm² 
      （双层烤网）
      烤盘直径 φ20”/ 51cm
      重量	105KG
      包装尺寸	97x70x85cm
      适用人数	4-12人
    features:
      - image: /images/jskamado-24.jpg
    call_to_action:
        price: 4200
    id: kmd24
    qr: /images/kmd24-qr-code.png
  - name: 不锈钢大观炉275 Kamado-Go 275
    description: |+
      品牌 慢烤大师
      型号 BBQ-KMD-GO
      温控 TempMaster Portable BLE
      材料 304 不锈钢
      颜色 不锈钢
      尺寸	38x56cm
      烹饪面积 	275 Sq in /2128cm2 
      （相当于20寸陶瓷炉）
      重量	15KG
      包装尺寸	50x48x70cm
      适用人数	4-8人

    features:
      - image: /images/Kamado-Go-01_thumbnail.jpg
    call_to_action:
        price: 2590
    id: kmdgo
    qr: /images/kgo1-qr-code.png
  - name: 慢烤大师碳烤炉温控 TempMaster Portable
    description: |+
      品牌 慢烤大师
      型号	TempMaster Portable BLE
      适用碳烤炉 
      慢烤大师13-26寸陶瓷烤炉
      慢烤大师不锈钢大观炉275 
      Weber Kettle 18-22 
      Weber Smokey Mountain 18-22 
      Offset Smokers
      Barrel Smokers
      其他各类密封焖烤炉
      （仅限于碳烤炉）

    features:
      - image: /images/portable01.jpg
    call_to_action:
        price: 900
    id: bbqubebt
    qr: /images/bbqube-qr-code.png     

faq:
  - question: 我怎么购买?
    answer: 点击查看价格后微信扫弹出的二维码即可跳转到酒肉大观商城购买.
  - question: 我怎么使用陶瓷烤炉?
    answer: 请关注我们的教学视频及相关文章.
  - question: 购买后何时发货? 运费如何支付？
    answer: 下单付款后二至三天，陶瓷大观炉由宜兴工厂物流发出，运费到付。物流信息会由商城发给客人。温控由深圳工厂快递直接发出，包邮。
  - question: 这个炉子都能干什么?
    answer: 从中式烤串到美式焖烤，从鸡腿到牛排，它无所不能.
  - question: 其他问题?
    answer:  欢迎给我们<a href="/contact/">留言</a>.
---
<div class="plans">
	{% for plan in page.pricing_table_l1 %}
		<ul class="plan">
			<li>
				<h2>{{ plan.name }}</h2>
			</li>
      <pre style="

      font-family: Arial;
      color: #ffffff;
      text-align: left;
      margin-left: 70px;
      ">{{ plan.description}}</pre><br>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}><img src="{{feature.image}}" alt="" /></li>
			{% endfor %}

      {% if plan.call_to_action %}
        <li class="pricing-cta"><p>￥{{plan.call_to_action.price}}</p></li>
        <li class="button alt"><a id="{{plan.id}}" onclick="showprice('{{plan.qr}}')">微信扫码购买</a>
        </li>
      {% endif %}
    </ul>
	{% endfor %}
</div>

<div class="plans">
	{% for plan in page.pricing_table_l2 %}
		<ul class="plan">
			<li>
				<h2>{{ plan.name }}</h2>
      </li>
      <pre style="

      font-family: Arial;
      color: #ffffff;
      text-align: left;
      margin-left: 70px;
      ">{{ plan.description}}</pre><br>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}><img src="{{feature.image}}" alt="" /></li>
			{% endfor %}

      {% if plan.call_to_action %}
        <li class="pricing-cta"><p>￥{{plan.call_to_action.price}}</p></li>
        <li class="button alt"><a id="{{plan.id}}" onclick="showprice('{{plan.qr}}')">微信扫码购买</a>
        </li>
      {% endif %}
    </ul>
	{% endfor %}
</div>
<!-- The Modal -->
<div id="priceview" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="hide()">&times;</span>
      <div>
        <img id="priceqr" src="{{plan.qr}}"/>
        <p class="nononono" id="inwechat"></p>
      </div>
    </div>
  </div>

<script>
  function showprice(qrurl){
    var isWeixinBrowser = (/micromessenger/i).test(navigator.userAgent);
    if(isWeixinBrowser){
      var p = document.getElementById("inwechat");
      p.innerHTML = "请长按二维码自动识别"
    }

    var img = document.getElementById("priceqr");
    img.src = qrurl;//'/images/' + id + '-qr-code.png';
    // /images/kmd24-qr-code.png
    // Get the modal
    var modal = document.getElementById("priceview");
    modal.style.display = "block";
  }
  // Get the button that opens the modal
  // var btn = document.getElementById("{{plan.id}}");
  
  // Get the <span> element that closes the modal
  // var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  // btn.addEventListener("click",function(event){modal.style.display = "block";}) ;  
  // When the user clicks on <span> (x), close the modal
  // span.addEventListener("click",function(event){modal.style.display = "none";}) ; 
  function hide(){
    var modal = document.getElementById("priceview");
    modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    var modal = document.getElementById("priceview");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>


{% if page.faq %}
	<h2>常见问题</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}